@model bellossomIT.Models.ProductModel;

<div class="d-flex justify-content-center align-items-center vh-100" style="background: rgba(235,248,218,0.9);">
    <div class="custom-modal-box position-relative text-center">
        <button class="botao-cancelar-vermelho position-absolute top-0 end-0 m-3" onclick="window.location.href='@Url.Action("Index", "Product")'">
            CANCELAR
        </button>
        <h4 class="mb-2 mt-4">Alteração realizada com sucesso!</h4>
        <p class="mb-0 text-muted" style="font-size: 1.1rem;">O item <strong>@Model</strong> foi alterado no estoque.</p>
    </div>
</div>