<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - bellossomIT</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/bellossomIT.styles.css" asp-append-version="true"/>
</head>
<body>

<div class="text-center">
    <img class="logo" src="~/bellossom_logo.png" alt="Bellossom Flower Shop Logo"/>
    <ul class="button-container">
        <li>
            <button class="product-category">Vasos</button>
        </li>
        <li>
            <button class="product-category">Fertilizantes</button>
        </li>
        <li>
            <button class="product-category">Flores</button>
        </li>
    </ul>
</div>

<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
