@model bellossomIT.Models.ProductModel

@{
    ViewData["Title"] = "Cadastro Concluído";
}

<div class="d-flex justify-content-center align-items-center vh-100">
    @Html.Partial("_RegisterSuccessPartial", Model)
</div>