html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.quantity-button {
  padding: 0 1em;
  border: none;
  font-weight: bold;
  color: #4B6D4E;
  background-color: transparent;
}

.table-wrapper {
  max-height: 24rem; /* ou ajuste conforme necessário para ~6 linhas */
  overflow-y: auto;
  display: block;
}

.bellossom-table th {
  position: sticky;
  top: 0;
  background-color: #4B6D4E;
  padding: 1px 0 1px 1px;
}

.bellossom-table th:last-child {
  padding-right: 1px;
}

.bellossom-table th span {
  background-color: #88A172;
  display: block;
  width: 100%;
}

.bellossom-table {
  width: 100%;
  background-color: #9EB985;
  color: #4B6D4E;
  font-weight: bold;
  font-size: 24px;
}

.bellossom-table td {
  padding: 12px;
  box-shadow: 1px 1px 1px #4B6D4E;
}

.new-flower-button {
  font-size: 32px;
  font-weight: bold;
  color: #AF9757;
  padding: .5em;
  margin: 1em;
  background-color: #EDD37B;  
  border: 4px solid #AF9757;
  border-radius: 45px;
  transition: background-color 1s ease;
}

.new-flower-button:hover {
  background-color: #FFECAC;
}

.flower-view {
  background-color: transparent;
}

