html {
    font-size: 18px;
}

body {
    height: 100%;
    background: linear-gradient(180deg,#FFF4CF 50%, #FFECAC 100%);
}

@media (min-width: 768px) {
    html {
        font-size: 18px;
    }
}


.logo {
    margin: 2em;
    width: 10em;
    aspect-ratio: 1/1;

}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    margin-bottom: 2em;
}

.product-category {
    color: #AF9757 !important; 
    text-decoration: none;
    transition: background-color 1s ease;
}

.product-category:hover {
    background-color: #FFECAC;
}

.button-container a {
    font-weight: bold;
    font-size: 1.5em;
    border-radius: 50px;
    background-color: #EDD37B;
    color: #AF9757;
    padding: .5em 1em;
    border: 4px solid #AF9757;
}

.quantity-button {
  padding: 0 1em;
  border: none;
  font-weight: bold;
  color: #4B6D4E;
  background-color: transparent;
}

.table-wrapper {
  max-height: 24rem; 
  overflow-y: auto;
  display: block;
  scrollbar-color: #4B6D4E transparent ;
}

.bellossom-table th {
  position: sticky;
  top: 0;
  background-color: #4B6D4E;
  padding: 1px 0 1px 1px;
}

.bellossom-table th:last-child {
  padding-right: 1px;
}

.bellossom-table th span {
  background-color: #88A172;
  display: block;
  width: 100%;
}

.bellossom-table {
  width: 100%;
  background-color: #9EB985;
  color: #4B6D4E;
  font-weight: bold;
  font-size: 24px;
}

.bellossom-table td {
  padding: 4px 0;
  box-shadow: 1px 1px 1px #4B6D4E;
}

.new-flower-button {
  font-size: 32px;
  font-weight: bold;
  color: #AF9757;
  padding: .5em;
  margin: 1em;
  background-color: #EDD37B;  
  border: 4px solid #AF9757;
  border-radius: 45px;
  transition: background-color 1s ease;
}

.new-flower-button:hover {
  background-color: #FFECAC;
}

.flower-view {
  background-color: transparent;
}

