html {
    font-size: 18px;
    font-
}

body {
    height: 100vh;
    background: linear-gradient(0deg,rgba(208, 244, 186, 1) 25%, rgba(234, 248, 218, 1) 100%);
}

@media (min-width: 768px) {
    html {
        font-size: 18px;
    }
}


.logo {
    margin: 4em;
    width: 8em;
    aspect-ratio: 1/1;

}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
}

.button-container button {
    font-weight: bold;
    font-size: 1.5em;
    border-radius: 50px;
    background-color: transparent;
    padding: .5em 1em;
    border: 4px solid green;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.5);

}

.button-container button:hover {
    animation: border-hover 1.5s ease infinite alternate;
}

@keyframes border-hover {
    from {
        border-color: green;
        background-color: lightgreen;
    }
    to {
        border-color: red;
        background-color: lightpink;
    }
}

.main-page-text {
    margin: 4em 0;
}

.custom-modal-box {
    min-width: 800px;
    background: #c1d4ae;             
    border: 4px solid #65866c;      /
    border-radius: 32px;          
    padding: 3rem 2.5rem 2.5rem 2.5rem;
    box-shadow: 0 4px 16px rgba(0,0,0,0.12);
    position: relative;
}

.botao-cancelar-vermelho {
    background: transparent;
    color: #c46d5e;
    border: 4px solid #c46d5e;
    border-radius: 32px;
    font-size: 1.4em;
    font-weight: bold;
    padding: 0.1em 1em;
    box-shadow: none;
    outline: none;
    transition: background 0.2s, color 0.2s, border-color 0.2s;
}

.botao-cancelar-vermelho:hover {
    background: #f7efd9;
    color: #a44a39;
    border-color: #a44a39;
    cursor: pointer;
}